---
const year = new Date().getFullYear();
---

<footer class="paper padding-large text-center margin-top-large">

  <div class="social-links flex justify-center gap-small margin-top-large">

  </div>

</footer>

<style>
  .gap-small {
    gap: 0.5rem;
  }
  svg {
    display: inline-block;
  }
</style>

