---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<header class="paper">
  <div class="container">
    <nav class="padding-small flex align-center space-between">

      <!-- Navigation Links -->
      <div class="flex gap-small">
        <HeaderLink href="/" class="paper-btn btn-small">{SITE_TITLE}</HeaderLink>
        <HeaderLink href="/blog" class="paper-btn btn-small">Blog</HeaderLink>
      </div>

    </nav>
  </div>
</header>

